<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= heading %></title>
  <style>
    body {
      margin: 0;
    }
    .nav-bar{
      background-color: rgb(213, 78, 213);
      margin-top: 0;
      display: flex;
      box-shadow: 0px 3px 5px rgb(40, 5, 40);
      padding: 11px;
    }
    .just-name{
      font-family: cursive;
      font-size: 30px;
      margin-top: 11px;
    }
    .options ul{
      margin-left: 10px;
      font-size: 20px;
    }

    .options ul li{
      text-decoration: black;
      display: inline-block;
      margin-right: 10px;  
    }
    .options ul li a {
      text-decoration: none; 
      font-weight: bold;
      color: black; 
   }
    .just-name:hover,.options li:hover {
      color: white;
      cursor: pointer;
    }

    @media screen and (max-width: 600px) {
      .nav-bar {
        flex-direction: column;
        align-items: center; 
      }

      .just-name {
        margin-top: 0;
        margin-bottom: 10px;
        text-align: center; 
      }

      .options ul li {
        display: block;
        margin: 5px 0;
        text-align: center;
      }
    }
  </style>
</head>
<body>
  <nav class="nav-bar">
    <div class="just-name">
      SuperMall
    </div>
    <div class="options">
      <ul>
        <% if(globalPages) {%>
        <% globalPages.forEach(page => {%>
            <% if(page.title === "Home"){ %>
              <li><a href="/"><%= page.title %></a></li>
            <%}else{%>
              <li><a href="<%= page.title %>" ><%= page.title %></a></li>
            <%}%>
        <%}); %>
        <% }%>
      </ul>
    </div>
  </nav>

  <div>

   

<!-- <%- messages('messages', locals) %> -->
